/*structure of website */
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  font-weight: bold;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: bold;
}

a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6
}

hr{
  border: #EAF6F6 6px;
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  margin: 100px auto;
}

p{
  line-height: 2;
}

.subtitle{
  font-weight: normal;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.intro{
  width: 30%;
  margin: auto;
}
.middle-container{
  margin: 100px auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud{
  position: absolute;
  right: 250px;
  top: 40px;
  height: 170px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
  height: 170px;
}

/*
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
*/
.mountain{
  height: 350px;
  opacity: 65%;
}

.skill-row{
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
}

.coffee{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.data{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
width: 40%;
margin: 40px auto 60px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: -moz-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: -ms-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: -o-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: linear-gradient(to bottom, #3cb0fd, #66BFBF);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/*
note that the margin formats are often to change what the default browser format for CSS is already.
for example, the browser shows a white white space above the first div, so we changed the default margin.

CSS BOX MODEL: Margin, border, padding
*/
